<section class="checkout-section">

    <div>
        <h1>Gracias por su compra!</h1>

        <h3>Cheque se correo electronico y contactenos para terminar su reservacion.</h3>

        <p>
            Nombre de servicio: {{ item.name }}, <br>
            Numero de horas: {{ duration }}hrs., <br>
            Numero de personas: {{ quantity }},
        </p>
    </div>

    {{!-- <img src="{{ item.image }}" alt="imagen"> --}}
</section>